/// Contact

.contact-form {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, min-content);
    gap: var(--size-v-400);
    text-align: left;

    .form-group {
        color: var(--clr-primary-800);

        .form-label {
            display: block;
            margin-bottom: var(--size-v-200);
        }
    
        .form-label-required::after {
            content: "*";
            color: var(--clr-secondary-400);
        }
    
        .form-field {
            min-height: 3.2em;
            width: 100%;
            padding: var(--size-v-300);
            background-color: var(--clr-primary-100);
            border: thin solid var(--clr-primary-100);
            transition: border 0.3s ease-in-out;
    
            &:hover {
                border: thin solid var(--clr-primary-800);
            }
        }

        &[data-error="true"] {
            color: var(--clr-danger-400);

            .form-field {
                border: thin solid var(--clr-danger-400);
            }
        }
    }
}

@media screen and (min-width: breakpoint("tablet")) {
    .contact-form {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, min-content);

        .contact-form-3-col {
            grid-column: 1 / -1;
        }
    }
}