/// Footer

/// Footer - Primary Footer
.primary-footer {
  color: var(--clr-gray-50);
  background-color: var(--clr-primary-900);
}

/// Footer - Primary Footer Container
.primary-footer-container {
  --primary-footer-container-padding-top: var(--size-v-400);
  --primary-footer-container-padding-bottom: var(--size-v-600);

  padding-block: var(--primary-footer-container-padding-top)
    var(--primary-footer-container-padding-bottom);
}
