/// Modal

/// Modal - Backdrop
.modal::backdrop {
  background-color: color("gray", "900");
  opacity: 0.5;
}

/// Modal - Modal
.modal {
  position: fixed;
  max-width: 80ch;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  padding: clamp(var(--size-v-300), 1vw + 1em , var(--size-v-500));
  border: none;
  width: min(100% - var(--size-v-500), breakpoint("phone-l"));
}

/// Modal - Modal Dialog
.modal-dialog {
  position: relative;
  text-align: center;
}

/// Modal - Modal Form
.modal-form {
  .input-group {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, 1fr);
  }

  .form-input {
    width: 100%;
    padding: var(--size-v-200);
    color: var(--clr-primary-800);
    border: thin solid var(--clr-secondary-400);
    background-color: var(--clr-primary-50);
    text-align: center;

    &[disabled] {
      color: var(--clr-gray-700);
      border: thin solid var(--clr-gray-500);
      background-color: var(--clr-gray-50);
      opacity: 0.7;
      cursor: not-allowed;
    }
  }

  &:has(.form-status__error, .form-status__success) {
    .form-group {
      margin-bottom: var(--size-v-400);
    }
  }
}

/// Modal - Form Status
.form-status__error {
  color: var(--clr-danger-500);
  font-size: var(--fz-form-status);
}

.form-status__success {
  color: var(--clr-success-500);
  font-size: var(--fz-form-status);
}

/// Modal - Media Queries
@media screen and (min-width: breakpoint("tablet")) {
  .modal-form {
    .input-group {
      display: grid;
      grid-template-columns: auto 6em;
      grid-template-rows: auto;
    }

    .form-input {
      text-align: left;
    }
  }
}

