---
import MainAstroLayout from "./../layouts/main.layout.astro"
import LoaderAstroComponent from "./../components/loader.component.astro"

const response = await fetch(`${import.meta.env.BLOG_API_URL}home`)
const data = await response.json()
const { page, latest, years } = data
---

<MainAstroLayout pageClass="body-post" latest={latest} years={years}>
  <div data-element="post">
    <LoaderAstroComponent
      id="next"
      sectionClassName="section-loading"
      containerClassName="container-section"
    />
  </div>
</MainAstroLayout>
