---
import featuredImgBible from "./../styles/images/featured-image-bible.jpg"
import featuredImgFlowers from "./../styles/images/featured-image-flowers.jpg"
import featuredImgCross from "./../styles/images/featured-image-cross.jpg"

import LoaderAstroComponent from "./../components/loader.component.astro"

const { id = "next" } = Astro.props
---
<section id={id} class="section section-featured">
    <div class="container container-section container-featured">
        <div class="featured-gallery">
            <img
                src={featuredImgBible}
                alt=""
                class="featured-image-one"
            />
            <img
                src={featuredImgFlowers}
                alt=""
                class="featured-image-two"
            />
            <img
                src={featuredImgCross}
                alt=""
                class="featured-image-three"
            />
        </div>
        <article class="featured-content" data-element="featured-content">
            <LoaderAstroComponent
                sectionClassName="section-loading"
                containerClassName="container-section"
            />
        </article>
    </div>
</section>