---

---
<footer class="primary-footer" data-element="primary-footer">
    <div class="container primary-footer-container">
        <p class="ta-center fz-copyright">
            <em>The Beloved's Blog &copy; Davina Leong.</em>
        </p>
    </div>
</footer>