---
import dayjs from "dayjs"

import LinkAstroComponent from "./../components/link.component.astro"
import ButtonAstroComponent from "./../components/button.component.astro"

const { title, latest, years } = Astro.props
let slug = ``
if (latest && latest.length > 0 && latest[0]) {
    slug = latest[0].slug
}

let year = dayjs().format("YYYY")
if (years && years.length > 0 && years[0]) {
    year = years[0].year
}
---
<header class="primary-header" data-element="primary-header">
    <!-- <div class="text-gray-50 bg-secondary-400 ta-center fz-copyright">
        <div class="container alert-container | p-v-y-200">
            <p><a href="/contact" class="btn btn-link">Contact Form</a> and <a href="/privacy" class="btn btn-link">Privacy Policy</a> pages added!</p>
        </div>
    </div> -->
    <div class="container primary-header-container">
        <LinkAstroComponent href="/" className="btn-primary-brand btn-slide">
            <div class="brand-icon"></div>
            {title}
        </LinkAstroComponent>

        <ButtonAstroComponent className="btn-primary-menu" dataElement="btn-primary-menu">
            <svg class="bars" viewBox="-10 -10 120 120" width="32">
                <path
                  class="line"
                  d="m 20 40 h 60 a 1 1 0 0 1 0 20 h -60 a 1 1 0 0 1 0 -40 h 30 v 70"
                ></path>
            </svg>
        </ButtonAstroComponent>

        <nav class="primary-nav">
            <ul class="primary-nav__list" role="list">
                <li class="primary-nav__list__item">
                    <LinkAstroComponent href="/about" className="btn-primary-nav">
                        About
                    </LinkAstroComponent>
                </li>
                <li class="primary-nav__list__item">
                    <LinkAstroComponent href={"/post?slug=" + slug} className="btn-primary-nav" dataElement="latest-post-link">
                        Latest Article
                    </LinkAstroComponent>
                </li>
                <li class="primary-nav__list__item">
                    <LinkAstroComponent href={"/archive?year=" + year + "&page=1"} className="btn-primary-nav">
                        Archive
                    </LinkAstroComponent>
                </li>
                <li class="primary-nav__list__item">
                    <LinkAstroComponent href="/contact" className="btn-primary-nav">
                        Contact
                    </LinkAstroComponent>
                </li>
                <li class="primary-nav__list__item">
                    <ButtonAstroComponent className="btn-secondary btn-slide" dataElement="btn-subscribe">
                        Subscribe
                    </ButtonAstroComponent>
                </li>
            </ul>
        </nav>
    </div>
</header>