---
import dayjs from "dayjs"

import ArticleAstroComponent from "./article.component.astro"
import LinkAstroComponent from "./link.component.astro"

const { latest, years } = Astro.props
let year = dayjs().format("YYYY")
if (years && years.length > 0 && years[0]) {
    year = years[0].year
}
---
<section class="section section-post">
    <div class="container container-no-padding">
      <div class="post-grid">
        <div class="post-cell-content">
          <h2 class="heading heading-section m-f-b-500">[Latests Posts]</h2>

          <ul class="post-list" role="list">
            {latest.map((post: any) => (
                <li class="post-list__item">
                    <ArticleAstroComponent post={post}/>    
                </li>
            ))}
          </ul>
        </div>
        <div class="post-cell-button">
            <LinkAstroComponent href={"/archive?year=" + year + "&page=1"} className="btn-secondary-outline btn-slide">
              See more posts <i class="fa-solid fa-chevron-right"></i>
            </LinkAstroComponent>
        </div>
      </div>
    </div>
</section>